# cahe
.cache/
# directories
lua/
plugins/
origdoc/
patch/
vim74/
vim73/
# exes
ag.exe
sdcv.exe
gvim.exe
iconv.dll
intl.dll
lua51.dll
luajit.exe
msvcr100.dll
tag
vim.exe
vimrun.exe
xxd.exe
# bundles
.netrwhist
# vimrc windows
_vimrc
