
"
" Personal settings
"
" Identificación de la Plataforma {
    let s:is_windows = has('win32') || has('win64')
    let s:is_cygwin = has('win32unix')
    let s:is_macvim = has('gui_macvim')
" }
" Init {
    let g:settings = {}
    let g:settings.colorscheme = 'hybrid'
    let g:settings.guifont_win = 'Sauce_Code_Powerline:h12'
    let g:settings.guifont_linux = 'Source\ Code\ Pro\ for\ Powerline\ Medium\ 12'
    let g:settings.guifont_mac = 'Source_Code_Pro_for_Powerline:h10'
    let g:settings.guifont_win_goyo = 'Cousine:h13'
    let g:settings.guifont_linux_goyo = 'Cousine\ 13'
    let g:settings.guifont_mac_goyo = 'Cousine:h13'

    let g:settings.gui_minimal = 'on'
    let g:settings.terminal = 'terminator'

    let g:settings.latex_pdf_viewer = 'zathura'

    iabbrev myData myN<cr>myE<cr>myGit<cr>

    " command line
    cabbrev csn Colorscheme desert
    " source $VIM/abbreviations.vim

    " ---------------------------------------------------------
    " Comenta/descomenta el grupo de plugins que vas a utilizar
    " ---------------------------------------------------------
    let g:settings.plugin_groups = []
    call add(g:settings.plugin_groups, 'core')
    call add(g:settings.plugin_groups, 'distraction-free-mode')
    call add(g:settings.plugin_groups, 'autocomplete')
    call add(g:settings.plugin_groups, 'unite')
    call add(g:settings.plugin_groups, 'language-tools')
    call add(g:settings.plugin_groups, 'grammar-checker')
    call add(g:settings.plugin_groups, 'navigation')
    call add(g:settings.plugin_groups, 'editing')
    "call add(g:settings.plugin_groups, 'indents')
    "call add(g:settings.plugin_groups, 'textobj')
    " call add(g:settings.plugin_groups, 'syntax')
    "call add(g:settings.plugin_groups, 'scm')
    "call add(g:settings.plugin_groups, 'markdown')
    "call add(g:settings.plugin_groups, 'latex')
    "call add(g:settings.plugin_groups, 'restructuretex')
    "call add(g:settings.plugin_groups, 'web')
    "call add(g:settings.plugin_groups, 'task-management')
    "call add(g:settings.plugin_groups, 'wiki')
    "call add(g:settings.plugin_groups, 'dev-tools')
    "call add(g:settings.plugin_groups, 'javascript')
    "call add(g:settings.plugin_groups, 'python')
    "call add(g:settings.plugin_groups, 'php')
    "call add(g:settings.plugin_groups, 'org')
    "call add(g:settings.plugin_groups, 'ruby')
    "call add(g:settings.plugin_groups, 'csv')
    "call add(g:settings.plugin_groups, 'scala')
    "call add(g:settings.plugin_groups, 'go')
    "call add(g:settings.plugin_groups, 'vim')
    "call add(g:settings.plugin_groups, 'icons')
    "call add(g:settings.plugin_groups, 'ditaa')
    "call add(g:settings.plugin_groups, 'ledger')
    "call add(g:settings.plugin_groups, 'plantuml')
    "call add(g:settings.plugin_groups, 'tmux')
    "call add(g:settings.plugin_groups, 'misc')
       " call add(g:settings.plugin_groups, 'windows')
    " ---------------------------------------------------
    " Deshabilita los plugins que no vas a usar
    " ---------------------------------------------------
    let g:settings.disabled_plugins=['vim.fo', 'vim.bar']
" }

" Estas usando Vimventor by XERRON©

source ~/.vim/vimrc

"
" Configuraciones
"
" Idioma {
    " Depende de la configuración del sistema
    set langmenu=es.UTF-8      " GUI gvim en español
    " language messages es       " Mensajes en español
" }
" Corrector Ortografico (Spelling) {
    set spelllang=es
    "set spell                   " Activar cuando sea necesario
    if s:is_windows
        set spellfile+=$VIM/spell/es.utf-8.add
    else
        set spellfile+=~/.vim/spell/es.utf-8.add
    endif
" }
" Autocompletado {
    set completeopt=menuone,longest,preview
    " Thesaurus - Sinónimos y antónimos <c-x><c-t>
    if s:is_windows
        set thesaurus+=$VIM/dictionaries/Thesaurus_es_ES.txt
        set dictionary+=$VIM/dictionaries/es_ES.dic
    else
        set thesaurus+=~/.vim/dictionaries/Thesaurus_es_ES.txt
        set dictionary+=~/.vim/dictionaries/es_ES.dic
    endif
    set complete+=kspell          " completar desde el diccionario cuando el corrector esta encendido
    set complete+=k               " completar desde el diccionario también.
" }
" Tiempo de respuesta {
    set ttimeout                 " keycode timeout
    set timeout timeoutlen=1000 ttimeoutlen=50
" }
